#myBtns {
  font-size: 3rem;
  margin: 10px;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  background-color: hsl(202, 100%, 60%);
  color: white;
}

.hover {
  box-shadow: 15px 15px 10px black;
}

.disabled {
  background-color: hsl(202, 11%, 39%);
}
